Content:
Used Cars Prices

Here you find 78612 records about used cars:
<br>
60 Brand, 382 Model, 33 Modelyear,
<br>
1839 CarModel, 1397 AveragePrice,
<br>
893 MinimumPrice, 916 MaximumPrice,
<br>
over 128 Months/Year.

### Some Questions you should ask yourself about.
1.  Is there any duplicates? .
2. What about the nulls?.
3. Does all columns has the a correct format in its values? if its not how should you make it better?
4. Datatypes?
5. Before starting , after seeing some info about the dataset and from the first look on the dataset , what columns you think will not be necessary in our dataset? (io: what columns you think dropping it will be better?).
<br>
<br>
feel free to wirte only their names in the next cell

Double Click here to start writing

In [1]:
#import Libraries (numpy & Pandas)

In [2]:
#read Data

In [3]:
#print the first 8 row

In [4]:
#print the shape Like (There are 84548 rows and 22 columns)

In [5]:
# try seeing some information about the data

In [6]:
# show the number of duplicates here

In [7]:
# show number of nulls

In [12]:
# updated the column names Like(To Start with Upper Litter)

In [9]:
# Split Car Full Data into Brand, Model, And Year of The Model

In [10]:
# Convert Average price, Minimum price, Maximum price to Numaarical Values

In [11]:
# Split Month/Year Column to Year and Month

In [13]:
# let's start with (Average price ,Minimum price ,Maximum price ) , see the number of nulls in them , replace these nulls with the ( mean , median and mode) of these columns
#and in the end check that there are not nulls in data